 body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
 .navbar1 {
  position: relative;
  padding-left: 70px;
  background-color: white;
  height: 55px;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  color: rgb(35, 7, 63);
  gap: 50px;
}
 .navbar2 {
  background-color: #2e254c;
  height: 65px;
  color: white;
  text-align: center;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
 .child1 {
  background-image: url(hero-image-1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  color: white;
  padding: 70px;
  font-size: 30px;
}
 .child1 p {
  font-size: 16px;
}

 .Download {
  background-color: white;
  color: var (--main-color);
  padding: 15px;
  border-radius: 5px;
  transition: 1s;
}

 .Download:hover {
  background-color: blueviolet;
}

 .child2 {
  background-image: linear-gradient(to right, rgb(136, 0, 255), white);
  color: rgba(255, 255, 255, 0.547);
  height: 1000px;
  padding: 30px;
  text-align: center;
  font-size: 30px;
  position: relative;
}

 .card {
  display: inline-block;
  vertical-align: top;
  background-color: white;
  color: rgb(35, 7, 63);
  width: 250px;
  height: 200px;
  box-shadow: 0 10px 20px rgb(0, 0, 0, 0.711);
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  font-size: 15px;
  text-align: left;
}

 .child3 {
  background-color: #232222;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 20px;
  padding: 50px;
  padding-right: 30px;
  color: antiquewhite;
  background-image: url(Microsoft_Visual_Studio_2022.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

 .child4 {
  background-image: linear-gradient(to right, rgb(136, 0, 255), white);
  height: 500px;
  display: flex;
  flex-flow: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 60px;
  font-size: 20px;
  color:white;
}

 .child5 {
  padding: 100px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
  font-size: 20px;
  color: rgb(35, 7, 63);
}
  
 .child6{
  background-color: #0d1117;
  height: 800px;
  padding-left: 50px;
  font-size: 60px;
  color: white;
  display: flex;
  flex-flow: row-reverse;
  justify-content: center;
  align-items: center;
}
 .child6 img{
  opacity: 0.30;
 }
  span{
  background-image: linear-gradient( to right , rgb(119, 0, 255) , rgb(130, 132, 154));
  background-clip: text;
  color:transparent;
 }
 .github{
  font-size: 20px;
  padding-left: 10px;
 }
 .link1 {
  border-radius: 5px;
  padding: 3px;
  text-decoration: none;
  color: rgb(35, 7, 63);
  position: absolute;
  right: 90px;
  top: 20px;
}
 .link2 {
  color: white;
  padding: 5px;
}
 .link3 {
  text-decoration: none;
  color: black;
}
 .link4 {
  text-decoration: none;
   color: rgb(35, 7, 63);
}
 .link5 {
  text-decoration: none;
   color: white;

}
.link6{
  text-decoration: none;
   color: black;
}
 .option {
  border: 1px rgba(0, 0, 0, 0) solid;
  padding: 5px;
  box-shadow: 0 10px 20px rgb(0, 0, 0, 0.711);
  position: absolute;
  left: 1200px;
}
 .back {
  position: absolute;
  left: -50px;
  bottom: -135px;
}
 .footer1{
  position: relative;
  background-color: white;
  padding-top: 25px;
  padding-left: 50px;
  display: flex;
  flex-flow: row;
  justify-content: left;
  gap: 30px;
}
 .footer2{
  position: absolute;
  bottom: 1px;
  right: 40px;
  display: flex;
  gap: 20px;
}
 .footer3{
  background-color: white;
  height: 300px;
  padding-left: 50px;
}

.footer3 p{
  font-size: 12px;
}
.footer4{
  text-align: center;
}
.parent{
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}
 .line1{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(101, 95, 95, 0), rgb(0, 0, 0), rgba(82, 77, 77, 0));
    margin: 30px auto;
    opacity: 0.5;
}
