body{
    background-color: #280f1b ;
}
 .child1{
    background-color: #4e1f32;
    height: 100px;
    color: white ;
    display: flex;
    flex-flow: row ;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    
 }

 .child1 h4{
    cursor: pointer;
 }
.child1 a{
    text-decoration: none;
    color: #280f1b
}
 .child2{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 100px;
}
 .edit{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 20px;
    color: #8e536a;
}
 .submit1{
    margin: 10px;
    width: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #280f1b;
    color: #8e536a;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 15px;
    cursor: pointer;
}
 .submit2{
    margin: 10px;
    width: 150px;
    padding: 10px;
    border: 0px solid #ccc;
    border-radius: 5px;
    background-color:rgb(156, 140, 48);
    color: #280f1b;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 15px;
    cursor: pointer;
}
 .child3 {
    background-color: rgb(227, 217, 217);
    height: 400px;
    display: flex;
    flex-flow: row-reverse;
    justify-content:space-evenly; 
    gap: 100px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.child3 h2 {
    background-color: #280f1b;
    color: #8e536a;
    width: 600px;
    height: px;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    display: inline-block;
    transition: 3s;
}
.child3 h2:hover{
    width: 800px;
    background-color: #4e1f32;
    color: #280f1b;
}
 span{
    color: #280f1b;
    border: 1px solid #280f1b47;
    border-radius: 20px;
    padding: 10px;
 }
 .child4{
    text-align: center;
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #8e536a;
 }
 .child5{
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin: 20px;
}

 .child55{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-evenly;
    gap: 200px;
    color: #8e536a;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
 }


 .item1{
    padding: 10px;
    border: 1px solid #cccccc47;
    border-radius: 20px;
    color: #8e536a;
    cursor: pointer;
}

 .see select{
    background-color: #280f1b;
    border: 1px solid #cccccc00;
    color: rgb(208, 187, 187);
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    transition: 2s;
}
 .item2{
    padding: 10px;
    border: 1px solid #cccccc47;
    border-radius: 20px;
    color: #8e536a;
    cursor: pointer;
}
 .item3{
    padding: 10px;
    border: 1px solid #cccccc47;
    border-radius: 20px;
    color: #8e536a;
    cursor: pointer;
}
 .item4{
    padding: 10px;
    border: 1px solid #cccccc47;
    border-radius: 20px;
    color: #280f1b;
    background-color:rgb(156, 140, 48);
    cursor: pointer;
}
.see1 select{
    background-color:rgb(156, 140, 48);
    border: 1px solid #cccccc00;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    transition: 2s;
}

.child6 {
    text-align: center;
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    animation-name: page;
    animation-delay: 2;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

@keyframes page {
    0%{
        background-color: #8e536a;
    }
    50%{
        background-color: #4e1f32;
        border-radius: 100px;
    }
    100%{
        background-color: #280f1b;
        color: #8e536a;
        
    }
}

.child7  {
   display: flex;
   flex-flow: row;
   justify-content: space-around;
   padding: 20px;
}

.line{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(197, 160, 89, 0.75), rgba(0, 0, 0, 0));
    margin: 30px auto;
    opacity: 0.5;
}

.child8{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    
}

.map {
    color: #8e536a;
    background-color: #4e1f32;
    text-align: center;
    border-radius: 20px;
    margin: 50px;
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.child9{
    background-color: #4e1f32;
    height: 100px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    gap: 50px;
    align-items: center;
    color: #8e536a;
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 20px;
}

.child9 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.line1{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(197, 160, 89, 0.75), rgba(0, 0, 0, 0));
    margin: 30px auto;
    opacity: 0.5;
}

.child10{
    color: #8e536a;
    background-color: #4e1f32;
    text-align: center;
    border-radius: 20px;
    margin: 50px;
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}

.child11{
    color: #8e536a;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}